@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #212529;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: #f8f9fa;
  height: 100vh;
}

.forms {
  overflow-y: auto;
  flex: 3;
  border-right: 0.5px solid #212529;
  padding: 2em;
}

.display {
  overflow-y: auto;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-left: 0.5px solid #212529;
  padding: 2em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
}

.form-item {
  display: flex;
  gap: 1em;
  align-items: flex-start;
  justify-content: flex-start;
}

.form-item-label {
  width: 6em;
  display: inline-block;
}

.form-item-input {
  flex: 1;
  font-family: "Montserrat", sans-serif;
}

.form-item-textarea {
  flex: 1;
  height: 4em;
  font-family: "Montserrat", sans-serif;
}

.form-item-button {
  align-self: center;
}

.add-remove-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.date-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.date-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.displayed-logs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.displayed-log {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #212529;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}
