@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #212529;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: #f8f9fa;
  height: 100vh;
}

.forms {
  overflow-y: auto;
  flex: 3;
  border-right: 0.5px solid #212529;
  padding: 2em;
}

.display {
  overflow-y: auto;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-left: 0.5px solid #212529;
  padding: 2em;
  gap: 2em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: flex-start;
}

.form-item {
  display: flex;
  gap: 1em;
  align-items: flex-start;
  justify-content: flex-start;
}

.form-item-label {
  width: 6em;
  display: inline-block;
}

.form-item-input {
  flex: 1;
  font-family: "Montserrat", sans-serif;
}

.form-item-textarea {
  flex: 1;
  height: 4em;
  font-family: "Montserrat", sans-serif;
}

.form-item-button {
  align-self: center;
}

.add-remove-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.date-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.date-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.displayed-logs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.displayed-log {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-end;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f9fa;
  color: #212529;
  z-index: 1;
  padding: 2em;
}

.update-modal {
  width: 66%;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: rgba(33, 37, 41, 0.66);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
  /* width: 600px; */
  aspect-ratio: 90;
  background: radial-gradient(circle closest-side, #212529 90%, #0000) 0 /
    calc(100% / 30) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 6s steps(31) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
